
@import url('./header.css');
@import url('./main.css');






* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #413e3ed5;
}

header {
  width: 100%;
  height: 120px;
  background: #000000;
}


a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}