





/* 
    vw - largura
    vh -> altura
*/



 .nav {
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;  
    justify-content: space-evenly;

}

.nav-logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 15vw;
}
.nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.nav-center {
    /* background: #802a02; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    width: 50vw;
    height: 100%;
    
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

.nav-pesquisa  {
    /*background-color: #252323; */
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-bottom: 50px;
}

.nav-pesquisa input {
    height: 30px;
    border-radius: 15px;
    border: 2px solid #1709da96;
    width: 30vw;
    color: #252323;
    padding-left: 2%;
}

.nav-ul {
    position: absolute;
    justify-content: center;
    display: flex;
    list-style-type: none;
    bottom: 15px;
    gap: 2%;
    width: 100%;
}

.nav-ul li {
    font-size:medium;
    font-weight: 300; 
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
} 
.nav-ul li a {
    color: #ffffff;
}

.nav-ul li::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%; /* Alinha o sublinhado com o centro do item */
    width: 0; /* Começa com largura 0 para não mostrar o sublinhado */
    height: 3px;
    background-color: #140280;

    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; 
    color: #ffffff;
}
  
  .nav-ul li.active::after,
  .nav-ul li:hover::after {
    width: 50%; /* Largura total quando ativo ou hover */
    left: 25%; /* Alinha o sublinhado com a borda esquerda do item */
  }




.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-BCE {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    background: #5c159e;
}

.btn-BCE p {
    margin: 0;
}

 .btn-cadastrar, .btn-entrar {
    border-radius: 50px;
    color: #000000;
    padding: 5px;
    cursor: pointer;
    font-weight: 300; /*ntensidade da fonte */
} 



.btn-BCC {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    top: 12%;
}

.btn-carrinho, .btn-coracao {
    background:#000000;
    width: 30px;
    border: none;
}


.btn-coracao:hover img,
.btn-carrinho:hover img {
    transform: scale(1.2); /* Aumenta em 10% quando passar o mouse */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
    cursor: pointer;
}

.btn-cadastrar:hover,
 .btn-entrar:hover {
    transform: scale(0.9); 
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
}